<div class="container">
  <div id="<%= dom_id accommodation %>">

    <% @accommodation.photos.each do |photo| %>
      <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>

    <p>
      <strong>Name:</strong>
      <%= @accommodation.name %>
    </p>

    <p>
      <strong>Address:</strong>
      <%= @accommodation.address %>
    </p>

    <p>
      <strong>Host:</strong>
      <%= @accommodation.user.first_name %>
    </p>

    <p>
      <strong>Rating:</strong>
      <%= @accommodation.rating %>/5
    </p>
  </div>
</div>
