<div class="container">
  <p style="color: green"><%= notice %></p>

  <h1>Accommodations</h1>
  <p><%= link_to "New accommodation", new_accommodation_path %></p>
  <p><%= link_to 'Top-rated accommodations', top_accommodations_path %></p>
  <hr>
<!--
  <div id="accommodations">
    <% @accommodations.each do |accommodation| %>
      <%= render accommodation %>
      <p>
        <%= link_to "Show this accommodation", accommodation %>
      </p>
    <% end %>
  </div>
-->
  <div id="accommodations">
    <div class="cards">
      <% @accommodations.each do |accommodation| %>
        <div class="card-accommodation" onclick="window.location.href='<%= accommodation_path(accommodation) %>'">
          <img src="https://images.unsplash.com/photo-1632323187625-7a4e4414338e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=930&q=80" />
          <div class="card-accommodation-infos">
            <div>
              <h2><%= accommodation.name %></h2>
              <p>
                <%= accommodation.address %>
              </p>
            </div>
            <h2 class="card-accommodation-pricing">$99.99</h2>
          </div>
        </div>
      <% end %>
    </div>
  </div>

</div>
