<div class="container">
  <p style="color: green"><%= notice %></p>

  <%= render @accommodation %>

  <p><strong>Reviews</strong></p>
  <p><%= link_to 'add review', new_accommodation_review_path(@accommodation), class:"btn btn-outline-secondary" %></p>
  <ul class="list-group">
    <% @accommodation.reviews.each do |review| %>
      <li class="list-group-item">
        <%= review.content %>
        <%= link_to "Delete",
          review_path(review),
          data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
        %>
      </li>
    <% end %>
  </ul>

  <br>

  <div>
    <%= link_to "Edit", edit_accommodation_path(@accommodation), class:"btn btn-outline-secondary" %>
    <%= link_to "Back", accommodations_path, class:"btn btn-outline-secondary" %>
  </div>
  <div style="margin-top: 10px">
    <%= button_to "Destroy", @accommodation, method: :delete, class:"btn btn-outline-secondary" %>
  </div>
</div>
